*{

background-color: rgb(255, 255, 255);
  font-family: sans-serif;
  overflow: hidden;
}

 body{
  display: flex;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 100vh;
   
}
.container{
    border: 0.72px solid rgb(0, 0, 0);
    padding: 2px 34px;
 border-radius: 12px ;
 background-color: rgb(255, 249, 249);
}
.bmi{
   display: flex;
   align-items: center;
   justify-content: center;
  
}
#height{
  font-size: 1rem;
  font-weight: bold;
  padding:0.6rem;
  margin-top: 10px;
  height: 20px;
  outline: none;
  border: 1px solid rgb(41, 40, 40);
 
}
#Weight{
  font-size: 1rem;
  font-weight: bold;
  padding:0.6rem;
  margin-top: 10px;
  height: 20px;
  outline: none;
  border: 1px solid rgb(41, 40, 40);
}
.btn{
  margin-bottom: 10px;
  padding: 7px 15px;
  font-size: 1.2rem;
  background-color: rgb(255, 39, 39);
  border:1px solid rgb(253, 5, 5);
  color: white;
}
.btn:hover{
  cursor: pointer;
 
}
form{
  
} 