*{
  background-color: rgb(125, 194, 171);
  color:white;
  font-family: sans-serif;
}
body{
  display: flex;
   justify-content: center;
   align-items: center;
   width: 100vw;
   height: 100vh;
}
.container{
    border: 0.72px solid rgb(56, 55, 55);
    padding:50px;
    background-color: rgb(107, 200, 169);
}
.bmi{
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: rgb(107, 200, 169);
}
#height{
 margin-top: 10px;
 color: black;
 height:20px;
 background-color: rgb(107, 200, 169);
 border:0.80px solid rgb(44, 43, 43);
}
#Weight{
  margin-top: 10px;
  color: black;
  background-color: rgb(107, 200, 169);
  height:20px;
 border:0.80px solid rgb(44, 43, 43);
}
.btn{
  margin-bottom: 10px;
  background-color:rgb(106, 218, 106);
  padding: 7px 15px;
  background-color: rgb(107, 200, 169);
  border:1px solid rgb(64, 224, 64);
}
.btn:hover{
  cursor: pointer;
  background-color: rgb(33, 144, 33);
}
form{
  background-color: rgb(107, 200, 169);
}